/*--------------------------------------------------------------
Google fonts
--------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;400;500;600;700;800&family=Lato:wght@300;400;700&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  color: #5faee3;
  text-decoration: none;
}
.btn-green,
.btn-green:focus {
  background: #56bc74;
  padding: 8px 25px;
  border-radius: 5px;
  color: #fff;
}
.btn-green:hover,
.btn-green:focus:hover {
  color: #fff;
  background: rgba(86, 188, 117, 0.7);
}

.btn-dark,
.btn-dark:focus {
  background: #002e7a;
  padding: 8px 25px;
  border-radius: 5px;
  color: #fff;
}
.btn-dark:hover,
.btn-dark:focus:hover {
  color: #fff;
  background: #3364fa;
}

.btn-light,
.btn-light:focus {
  background: #3364fa;
  padding: 8px 25px;
  border-radius: 5px;
  color: #fff;
}
.btn-light:hover,
.btn-light:focus:hover {
  color: #fff;
  background: #4673f8;
}

.btn-more,
.btn-more:focus {
  background: #0e8bc5;
  padding: 8px 25px;
  border-radius: 5px;
  color: #fff;
  border: #fff 1px solid;
}
.btn-more:hover,
.btn-more:focus:hover {
  color: #fff;
  background: rgba(14, 139, 197, 0.87);
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #3498db;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #57aae1;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 997;
  transition: all 0.5s;
  padding: 22px 0;
  background: #fff;
}
#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  white-space: nowrap;
  transition: 0.3s;

  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  text-transform: capitalize;

  color: #000000;
}
.navbar a i,
.navbar a:focus i {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #002e7a;
}
.navbar .getstarted,
.navbar .getstarted:focus {
  background: #002e7a;
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 5px;
  color: #fff;
}
.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #3364fa;
}
.navbar .dropdown ul {
  display: flex;
  position: absolute;
  top: calc(100% + 60px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .form-nav {
  width: 450px;
  left: 30px !important;
}
.navbar .form-nav-ul ul {
  width: 450px;
  left: -80px !important;
}
.navbar .form-group {
  padding: 10px 15px;
}
.navbar .btn-primary {
  margin: 10px 15px;
  background-color: #002e7a;
  border: none;
}

@media (min-width: 991px) {
  .navbar .dropdown ul {
    left: 50%;
    transform: translate(-50%, 0);
  }

  .navbar .triangle ul::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%, 0);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #fff;
  }

  .navbar .form-nav-ul ul::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 80%;
    transform: translate(-50%, 0);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #fff;
  }
}
.navbar .dropdown ul li {
  min-width: 600px;
}
.navbar .dropdown ul a {
  color: #4a5078;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  padding: 10px 15px;
}

.navbar .dropdown p {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  padding: 10px 15px;
  border-bottom: 1px solid #ecedf2;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #023e9f;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #023e9f;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #023e9f;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  background-image: url(/assets/img/hero-bg.png);
  background-size: cover;
}
#hero h1 {
  font-family: "Inter";
  margin: 0 0 10px 0;
  font-size: 44px;
  font-weight: 700;
  line-height: 53px;
  color: #333333;
  font-weight: 500;
}
#hero h2 {
  font-family: "DM Sans";
  font-weight: 400;
  color: #333333;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 150%;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 991px) {
  #hero {
    height: 100vh;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}
@media (max-width: 768px) {
  #hero {
    margin-top: 20px;
  }
  #hero h1 {
    font-size: 26px;
    line-height: 36px;
    text-align: center;
  }
  #hero h2 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    text-align: center;
  }
  #hero .btn-center {
    text-align: center;
  }
  #hero .img {
    text-align: center;
    width: 80%;
    margin-top: 20px;
  }
}
@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}
.title-section {
  padding-bottom: 0px;
}

.title-section p {
  margin: 6px 0 0px 0 !important;
}
.section-bg {
  background-color: #f6f8ff;
}
.sectionGreen {
  color: #00be99;
}
.sectionPurple {
  color: #4700d6;
}
.sectionBlue {
  color: #71fde1;
}
.section-title {
  text-align: center;
  padding-bottom: 40px;
}
.section-title h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.section-title p {
  margin: 6px 0 20px 0;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #1d2d61;
}

.section-title-left {
  text-align: left;
  padding-bottom: 15px;
}
.section-title-left h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  color: #000000;
}
/*--------------------------------------------------------------
# BENEFITS General
--------------------------------------------------------------*/
.benefits .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}
.benefits .icon-box::before {
  content: "";
  position: absolute;
  background: #f7f7f7;
  right: -10px;
  top: -10px;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  transition: all 0.3s;
  z-index: -1;
}
.benefits .icon-box:hover::before {
  background: #f7f7f7;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
.benefits .icon {
  display: flex;
  justify-content: center;
  margin: 0 auto 20px auto;
  padding-top: 10px;
  transition: all 0.3s ease-in-out;
}

.benefits .title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;

  text-align: center;

  color: #000000;
}
.benefits .description {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #999999;
}
.benefits .icon-box:hover .title a,
.benefits .icon-box:hover .description {
  color: #000;
}
.benefits .icon-box:hover .title {
  color: #002e7a;
}

/*--------------------------------------------------------------
# FEATURES
--------------------------------------------------------------*/
.fearures h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 10px;
}
.fearures p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 20px;
}
.fearures img {
  width: 90%;
}
.fearures ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px;
}
.fearures ul li {
  display: flex;
  gap: 10px;
  align-items: center;
}
.fearures ul li img {
  height: 18px;
  width: auto;
}
.fearures ul li p {
  padding: 0px;
  margin: 0px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  background-color: #002e7a;
}
.counts .content {
  padding: 0;
}
.counts .content p {
  margin-bottom: 0;
}
.counts .content .count-box {
  padding: 20px 0;
  width: 100%;
}
.counts .content .count-box i {
  display: block;
  font-size: 36px;
  color: #3498db;
  float: left;
  line-height: 0;
}
.counts .content .count-box span {
  font-family: "DM Sans";
  font-weight: 700;
  color: #fcfcff;
  font-size: 36px;
  line-height: 30px;
  display: block;
  margin-left: 50px;
}
.counts .content .count-box p {
  font-weight: 400;
  padding: 15px 0 0 0;
  margin: 0 0 0 50px;
  font-family: "DM Sans";
  font-size: 14px;
  color: #fcfcff;
}

.counter-flex p {
  font-weight: 400;
  padding: 0 !important;
  margin: 0 !important;
  font-family: "DM Sans";
  font-size: 36px !important;
  color: #fcfcff;
}

.counter-flex span {
  font-weight: 400;
  padding: 0 !important;
  margin-left: 50px !important;
  font-family: "DM Sans";
  font-size: 45px !important;
  color: #fcfcff;
}

@media (max-width: 1024px) {
  .counts .image {
    text-align: center;
  }
  .counts .image img {
    max-width: 70%;
  }
}
@media (max-width: 667px) {
  .counts .image img {
    max-width: 100%;
  }
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-wrap {
  padding-left: 50px;
}
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 0px 30px 30px 50px;
  margin: 0px 15px;
  min-height: 200px;
  position: relative;
  background: transparent;
}
.testimonials .testimonial-item .testimonial-img {
  width: 90%;
}
.testimonials .testimonial-item h3 {
  margin: 10px 0 5px 0;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #121212;
}
.testimonials .testimonial-item h4 {
  margin: 0;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: rgba(18, 18, 18, 0.7);
}
.testimonials .testimonial-item p {
  margin: 15px auto 30px auto;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #121212;
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #eba901;
  opacity: 1;
  border: 1px solid #eba901;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #000;
  border: 1px solid #000;
}
@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }
  .testimonials .testimonials-carousel,
  .testimonials .testimonials-slider {
    overflow: hidden;
  }
  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }
  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}

/*--------------------------------------------------------------
# F.A.Q Section
--------------------------------------------------------------*/
@media (max-width: 991px) {
  .faq {
    padding: 0;
  }
}

.faq .accordion-item {
  border: 0;
  border-bottom: 1px #1a1e28 solid;
  margin-top: 15px;
  box-shadow: 0px 5px 25px 0px rgba(var(--color-black-rgb), 0.06);
}
.faq .accordion-collapse {
  border: 0;
}
.faq .accordion-button {
  padding: 15px 40px 30px 0px;
  border: 0;
  text-align: left;
  box-shadow: none;
  border-radius: 5px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #1a1e28;
}
.faq .accordion-button:not(.collapsed) {
  color: var(--color-primary);
  border-bottom: 0;
  box-shadow: none;
}

.faq .accordion-button:after {
  position: absolute;
  right: 15px;
  top: 15px;
  color: var(--color-primary);
}
.faq .accordion-body {
  padding: 0 30px 25px 0px;
  border: 0;
  border-radius: 5px;
  box-shadow: none;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #1a1e28;
  opacity: 0.6;
}

/*--------------------------------------------------------------
# About page > Hero Section
--------------------------------------------------------------*/
.about-hero {
  width: 100%;
  min-height: 100vh;
  margin-top: 70px;
  background: linear-gradient(
    180deg,
    rgba(56, 116, 120, 0.5) 0%,
    rgba(0, 78, 83, 0) 100%
  );
}
.about-hero h1 {
  font-family: "Source Sans Pro";
  margin: 0 0 30px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}
.about-hero h2 {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
  text-align: center;
}

.about-hero p {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}

.about-hero .hero-img img {
  width: 100%;
}

.about-hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  .about-hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  .about-hero .hero-img {
    text-align: center;
  }
  .about-hero .hero-img img {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .about-hero {
    margin-top: 20px;
  }
  .about-hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .about-hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .about-hero .hero-img img {
    width: 70%;
  }
}
@media (max-width: 575px) {
  .about-hero .hero-img img {
    width: 80%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# About page > About content Section
--------------------------------------------------------------*/
.about-content h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 70px;
  line-height: 105px;
}
.about-content h2 {
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
}

.about-content p {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.about-light-bg {
  background-color: #3b7baa;
}
.about-dark-bg {
  background-color: #01243e;
}

.about-content .btn-gp {
  margin: 30px 0px;
  text-align: center;
}

.about-content .small-para p {
  width: 70%;
}

@media (max-width: 765px) {
  .about-content .small-para p {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# careers page > Hero Section
--------------------------------------------------------------*/
.careers-hero {
  width: 100%;
  min-height: 100vh;
  margin-top: 70px;
  background: rgba(108, 141, 194, 0.2);
}

.careers-hero h2 {
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;

  color: #000000;
}

.careers-hero p {
  font-family: "Quicksand";
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  color: #000000;
}

.careers-hero .hero-img img {
  width: 100%;
}

.careers-hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  .careers-hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  .careers-hero .hero-img {
    text-align: center;
  }
  .careers-hero .hero-img img {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .careers-hero {
    margin-top: 20px;
  }
  .careers-hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .careers-hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .careers-hero .hero-img img {
    width: 70%;
  }
}
@media (max-width: 575px) {
  .careers-hero .hero-img img {
    width: 80%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
#Careers > Joblist
--------------------------------------------------------------*/

.job-list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.job-list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  width: 100%;
  background-color: rgba(59, 131, 246, 0.2);
  border-radius: 3px;
}

.job-list ul li p {
  margin: 0px;
}

.job-list ul li:first-child {
  margin-top: 50px;
}

/*--------------------------------------------------------------
#Careers-description > page content
--------------------------------------------------------------*/

.careers-details {
  margin-top: 60px;
  background-color: #7e929c;
  height: 50px;
}
.job-title ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.job-title ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  width: 100%;
  border-radius: 3px;
}

.job-title ul li p {
  margin: 0px;
  color: #fff;
}

.job-title ul li:first-child {
  margin-top: 50px;
}
.icon-text {
  display: flex;
  gap: 10px;
}
.icon-text i {
  color: #fff;
}
/*--------------------------------------------------------------
Content area
--------------------------------------------------------------*/

.content-section p,
.content-section ul li {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}

.content-section h4 {
  margin-top: 40px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

/*--------------------------------------------------------------
Application -Form
--------------------------------------------------------------*/

.application {
  background-color: rgba(149, 149, 149, 0.2);
}

.application .php-email-form p {
  font-family: "DM Sans";
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #828282;
}
.application .php-email-form .form-group {
  margin-bottom: 30px;
}
.application .php-email-form input,
.application .php-email-form textarea {
  border-radius: 5px;
  border: 1px solid #959595;
  box-shadow: none;
  font-size: 14px;
  padding: 10px 15px;
}
.application .php-email-form input:focus,
.application .php-email-form textarea:focus {
  border-color: #3498db;
}
.application .php-email-form button[type="submit"] {
  background: #4a5f95;
  border: 0;
  padding: 10px 60px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}
.application .php-email-form button[type="submit"]:hover {
  background: #2383c4;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  background: #f3f9fd;
  padding: 10px 0;
  text-align: center;
}
.clients .col-lg-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients img {
  width: 50%;
  filter: grayscale(100);
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 10px 0;
}
.clients img:hover {
  filter: none;
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .clients img {
    width: 40%;
  }
}
@media (max-width: 575px) {
  .clients img {
    width: 30%;
  }
}

/*--------------------------------------------------------------
# Blog page > Hero Section
--------------------------------------------------------------*/
.blog-hero {
  width: 100%;
  margin-top: 50px;
  padding: 100px 0px;
  background: url(/assets/img/blog-background.png), #4c9712;
  background-size: cover;
}

/*--------------------------------------------------------------
# Blog page > search Section
--------------------------------------------------------------*/

.page-search .input-group {
  width: 100%;
}

.page-search .search {
  position: relative;
  color: rgba(0, 0, 0, 0.4);
}

.page-search .search i {
  position: absolute;
  top: 20px;
  left: 16px;
}

.page-search .search input {
  height: 60px;
  text-indent: 25px;
  border: none;
  background-color: #c4c4c4;
  border-radius: 50px;
}

.page-search .search input:focus {
  box-shadow: none;
  border: 1px solid #4c9712;
}

.page-search .search button {
  position: absolute;
  border-radius: 50px;
  border: none;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: #4c9712;
}

/*--------------------------------------------------------------
# Blog page > blog list Section
--------------------------------------------------------------*/
.blog {
  margin-top: 35px;
}
.blog-list img {
  border-radius: 15px;
}
.blog-list .blog-content {
  gap: 10px;
}
.blog-list h3 a {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
}

.blog-list p {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

/*--------------------------------------------------------------
#Careers-description > page content
--------------------------------------------------------------*/

.blog-detail {
  margin-top: 60px;
  background-color: #4c9712;
  height: 50px;
}
.blog-list-hero img {
  border-radius: 18px;
}
.security-detail {
  margin-top: 60px;
  background-color: #1a1e28;
  height: 50px;
}

.contact-details {
  margin-top: 60px;
  background-color: #771dae;
  height: 50px;
}

.community-single {
  margin-top: 60px;
  background-color: #0e8bc5;
  height: 50px;
}

/*--------------------------------------------------------------
#related-card > related-card
--------------------------------------------------------------*/

.related-card {
  padding-top: 10px;
  margin-top: 0px;
}

.related-card .section-title-left {
  margin-bottom: 30px;
}

.related-card .card {
  width: 100%;
  border-radius: 14px;
}

.related-card .card img {
  margin-bottom: 20px;
}
.related-card .card .card-title {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.related-card .card .card-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #5c5c5c;
}

.related-card .card .card-icon {
  display: flex;
  justify-content: end;
}
.related-card .card .card-icon i {
  color: #000;
  font-size: 18px;
  padding-right: 12px;
}

.related-card .card .card-icon i:hover {
  color: #000;
  font-size: 18px;
  padding-right: 0px;
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  padding-left: 28px;
  position: relative;
}
.about .content ul li + li {
  margin-top: 10px;
}
.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #3498db;
  line-height: 1;
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .content .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: #3498db;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #3498db;
}
.about .content .btn-learn-more:hover {
  background: #3498db;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}
.services .icon-box::before {
  content: "";
  position: absolute;
  background: #e1f0fa;
  right: -60px;
  top: -40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: all 0.3s;
  z-index: -1;
}
.services .icon-box:hover::before {
  background: #3498db;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
.services .icon {
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #3498db;
  transition: all 0.3s ease-in-out;
}
.services .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
}
.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .title a {
  color: #111;
}
.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
.services .icon-box:hover .title a,
.services .icon-box:hover .description {
  color: #fff;
}
.services .icon-box:hover .icon {
  background: #fff;
}
.services .icon-box:hover .icon i {
  color: #3498db;
}

/*--------------------------------------------------------------
# More Services
--------------------------------------------------------------*/
.more-services {
  padding-top: 20px;
}
.more-services .card {
  border: 0;
  padding: 160px 20px 20px 20px;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.more-services .card-body {
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  transition: ease-in-out 0.4s;
  border-radius: 5px;
}
.more-services .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}
.more-services .card-title a {
  color: #222222;
}
.more-services .card-text {
  color: #5e5e5e;
}
.more-services .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.4s;
}
.more-services .read-more a:hover {
  text-decoration: underline;
}
.more-services .card:hover .card-body {
  background: #3498db;
}
.more-services .card:hover .read-more a,
.more-services .card:hover .card-title,
.more-services .card:hover .card-title a,
.more-services .card:hover .card-text {
  color: #fff;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #f6f6f6;
  transition: ease-in-out 0.3s;
}
.features .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}
.features .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
}
.features .icon-box h3 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}
.features .icon-box h3 a:hover {
  color: #3498db;
}
.features .icon-box:hover {
  background: #eef7fc;
}
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}
.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #3498db;
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(34, 34, 34, 0.6);
}
.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(34, 34, 34, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}
.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}
.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}
.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}
.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #3498db;
}
.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}
.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}
.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #3498db;
}
.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: #3498db;
}
.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(34, 34, 34, 0.08);
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.team .member .member-img {
  position: relative;
  overflow: hidden;
}
.team .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.85);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.team .member .social a {
  transition: color 0.3s;
  color: #222222;
  margin: 0 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.team .member .social a i {
  line-height: 0;
}
.team .member .social a:hover {
  color: #3498db;
}
.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
.team .member .member-info {
  padding: 25px 15px;
}
.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #222222;
}
.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}
.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}
.team .member:hover .social {
  opacity: 1;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: #f9f9f9;
  text-align: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  border: 2px solid #f9f9f9;
}
.pricing .box h3 {
  font-weight: 400;
  padding: 15px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #222222;
}
.pricing .box h4 {
  font-size: 42px;
  color: #3498db;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}
.pricing .box h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}
.pricing .box h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}
.pricing .box ul {
  padding: 0;
  list-style: none;
  color: #222222;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
.pricing .box ul li {
  padding-bottom: 16px;
}
.pricing .box ul i {
  color: #3498db;
  font-size: 18px;
  padding-right: 4px;
}
.pricing .box ul .na {
  color: #ccc;
  text-decoration: line-through;
}
.pricing .box .btn-wrap {
  padding: 15px;
  text-align: center;
}
.pricing .box .btn-buy {
  display: inline-block;
  padding: 10px 40px 12px 40px;
  border-radius: 50px;
  border: 2px solid #3498db;
  color: #3498db;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}
.pricing .box .btn-buy:hover {
  background: #3498db;
  color: #fff;
}
.pricing .recommended {
  border-color: #3498db;
}
.pricing .recommended .btn-buy {
  background: #3498db;
  color: #fff;
}
.pricing .recommended .btn-buy:hover {
  background: #2383c4;
  border-color: #2383c4;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .contact-about h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  color: #222222;
}
.contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
  color: #888;
}
.contact .social-links {
  padding-bottom: 20px;
}
.contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #3498db;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #3498db;
}
.contact .social-links a:hover {
  background: #3498db;
  color: #fff;
}
.contact .info {
  color: #444444;
}
.contact .info i {
  font-size: 32px;
  color: #3498db;
  float: left;
  line-height: 1;
}
.contact .info p {
  padding: 0 0 10px 42px;
  line-height: 28px;
  font-size: 14px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form .form-group {
  margin-bottom: 20px;
}
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 10px 15px;
}
.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #3498db;
}
.contact .php-email-form button[type="submit"] {
  background: #3498db;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .php-email-form button[type="submit"]:hover {
  background: #2383c4;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f8f8f8;
  min-height: 40px;
  margin-top: 86px;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 72px;
  }
}
.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
@media (max-width: 992px) {
  .breadcrumbs ol {
    margin-top: 10px;
  }
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #3c3c3c;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  color: #222222;
  font-size: 14px;
}

#footer .footer-top {
  background: #2c3b6b;
  padding: 50px 0px;
  color: #fff;
  font-family: "DM Sans";
}
#footer .footer-top h4 {
  font-weight: 500;
  font-size: 28px;
}

#footer .footer-top p {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.02em;
  opacity: 0.7;
}

#footer .footer-bottom {
  background: #1a1e28;
  color: #fff;
  padding: 50px 0px;
}

#footer .footer-bottom img {
  margin-bottom: 25px;
}

#footer .footer-bottom p {
  line-height: 27px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  font-family: "Lato";
}

#footer .footer-bottom .social-icons ul,
#footer .footer-bottom .footer-nav ul {
  list-style: none;
  gap: 10px;
  margin-left: 0px !important;
  padding: 0px;
}
#footer .footer-bottom .social-icons ul li a i {
  font-size: 18px;
  color: #fff;
}

#footer .footer-bottom .social-icons ul li a i:hover {
  color: #2383c4;
}

#footer .footer-bottom .footer-nav ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#footer .footer-bottom .footer-nav ul li a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}
#footer .footer-bottom .footer-nav ul li a:hover {
  opacity: 0.7;
}

#footer .footer-bottom .footer-nav ul li:first-child {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  opacity: 0.5;
  color: #fff;
}

#footer .footer-bottom .footer-credit {
  font-family: "DM Sans";
  font-weight: 400;
  margin-top: 25px;
  border-top: rgba(255, 255, 255, 0.5) solid 1px;
  padding: 20px 0px;
}

/*--------------------------------------------------------------
# community page > Hero Section
--------------------------------------------------------------*/
.commiunity-hero {
  width: 100%;
  margin-top: 50px;
  padding: 100px 0px;
  background: url(/assets/img/community-bg.png), #002e7a;
  background-size: cover;
}

.commiunity-hero .testimonials-slider h3 {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #ffffff;
}

.commiunity-hero .testimonials-slider p {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  color: rgba(255, 255, 255, 0.7);
}

.commiunity-hero .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.commiunity-hero .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: transparent;
  opacity: 1;
  border: 1px solid #fff;
}
.commiunity-hero .swiper-pagination .swiper-pagination-bullet-active {
  border-radius: 12px;
  width: 24px;
  height: 12px;
  background-color: #fff;
}
@media (max-width: 767px) {
  .commiunity-hero .testimonial-wrap {
    padding-left: 0;
  }
  .commiunity-hero .testimonials-carousel,
  .commiunity-hero .testimonials-slider {
    overflow: hidden;
  }
  .commiunity-hero .testimonial-item {
    padding: 30px;
    margin: 15px;
  }
  .commiunity-hero .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}

/*--------------------------------------------------------------
# community page > search Section
--------------------------------------------------------------*/

.commiunity-page-search .input-group {
  width: 100%;
}

.commiunity-page-search .search {
  position: relative;
  color: rgba(0, 0, 0, 0.4);
}

.commiunity-page-search .search i {
  position: absolute;
  top: 20px;
  left: 16px;
}

.commiunity-page-search .search input {
  height: 60px;
  text-indent: 25px;
  border: none;
  background-color: #c4c4c4;
  border-radius: 50px;
}

.commiunity-page-search .search input:focus {
  box-shadow: none;
  border: 1px solid #002e7a;
}

.commiunity-page-search .search button {
  position: absolute;
  border-radius: 50px;
  border: none;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: #002e7a;
}

/*--------------------------------------------------------------
# community page > card Section
--------------------------------------------------------------*/

.commiunity-list .single-category {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #bcbcbc;
}

.commiunity-list .single-category:last-child {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: none;
}
.commiunity-list .card {
  width: 100%;
  margin-bottom: 20px;
  border: none;
}

.commiunity-list .card {
  width: 100%;
  border-radius: 15px;
}

.commiunity-list .card-img-top {
  border-radius: 15px 15px 0px 0px;
}
.commiunity-list .card .card-title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;

  color: #293041;
}

.commiunity-list .card .card-text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.commiunity-list .feature-start {
  padding: 4px 8px;
  background-color: #fff;
  border-radius: 50%;
  color: #ffb802;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 999;
}
