<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" . }}

    <!-- ======= Hero Section ======= -->
    <section class="d-flex align-items-center about-hero">
      <div class="container">
        <div class="row">
          <div
            class="col-md-12 pt-5 pt-lg-0 d-flex flex-column justify-content-center"
          >
            <h1 data-aos="fade-up">About US</h1>
            <h2 data-aos="fade-up">Say Hello to Team Hubstream</h2>
            <p data-aos="fade-up">
              The Hubstream platform combines investigative case management,
              link analysis and visualization, and hyper-customizable workflows
              into one easy-to-use product
            </p>
          </div>
          <div
            class="col-md-12 hero-img"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <img
              src="/assets/img/about-hero.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Content Section ======= -->
      <section
        class="d-flex align-items-center about-content"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">Who we are</h2>
              <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus
                diam dignissim porttitor auctor nullam placerat neque. Vel sed
                risus leo, cursus ullamcorper iaculis phasellus pellentesque.
                Aenean malesuada consequat mauris faucibus. Elit tortor nibh
                quam neque. <br /><br />

                Netus ultrices in diam fusce. Et sagittis, orci tristique
                consequat non aliquet mauris nisi fermentum. Quis leo elit
                fringilla ultrices nascetur suspendisse nulla scelerisque. Ut
                purus turpis eget pulvinar a.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Content Section -->

      <!-- ======= About Content Section-Mission ======= -->
      <section
        class="d-flex align-items-center about-content about-light-bg"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="text-light">Mission</h1>
              <p class="text-light">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus
                diam dignissim porttitor auctor nullam placerat neque. Vel sed
                risus leo, cursus ullamcorper iaculis phasellus pellentesque.
                Aenean malesuada consequat mauris faucibus. Elit tortor nibh
                quam neque.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Content Section -->

      <!-- ======= About Content Section-vision ======= -->
      <section
        class="d-flex align-items-center about-content about-dark-bg"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="text-light text-end">Vision</h1>
              <p class="text-light text-end">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus
                diam dignissim porttitor auctor nullam placerat neque. Vel sed
                risus leo, cursus ullamcorper iaculis phasellus pellentesque.
                Aenean malesuada consequat mauris faucibus. Elit tortor nibh
                quam neque.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Content Section -->

      <!-- ======= About Content Section-Call to action ======= -->
      <section
        class="d-flex align-items-center about-content"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="container">
          <div class="row">
            <div
              class="col-md-12 d-flex flex-column small-para align-items-center"
            >
              <h2 class="text-center">Come Join the fun</h2>
              <p class="text-center small-para">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id
                pulvinar accumsan ipsum pharetra elementum et facilisis arcu.
                Vivamus molestie felis rutrum diam
              </p>
              <div class="btn-gp">
                <a href="/" class="btn-green">Careers</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Content Section -->
    </main>
    <!-- End #main -->
    <!-- ======= Footer ======= -->
    {{ partial "footer.html" . }}
    <!-- End Footer -->

    {{ partial "script.html" . }}
  </body>
</html>
