<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" . }}
    <!-- End Header -->
    <main id="main">
      <!-- ======= hero Section ======= -->
      <section class="blog-hero">
        <div class="container">
          <div class="d-flex align-items-center">
            <h2 data-aos="fade-up" data-aos-delay="100" class="text-light">
              {{.Title}}
            </h2>
          </div>
        </div>
      </section>
      <!-- End hero Section -->

      <!-- ======= search bar Section ======= -->
      <section class="page-search">
        <div class="container">
          <div
            class="row height d-flex justify-content-center align-items-center"
          >
            <div class="col-md-8" data-aos="fade-up" data-aos-delay="100">
              <div class="search">
                <i class="bi bi-search"></i>
                <input
                  type="text"
                  class="form-control"
                  id="searchInput"
                  placeholder="Search blogs & articles"
                />
              </div>
              <ul id="searchResult">
                <!-- the search result will appear here -->
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- End search bar -->

      <!-- ======= hero Section ======= -->
      <section class="blog-list">
        <div class="container">
          <!-- blog post -->
          {{ range .Pages }}
          <div class="blog">
            <div class="row justify-content-center">
              <div class="col-md-3" data-aos="fade-up" data-aos-delay="100">
                {{ with .Params.list_image }}
                <img src="{{ . }}" alt="" class="img-fluid" />
                {{end}}
              </div>
              <div
                class="col-md-7 d-flex flex-column justify-content-center blog-content"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <h3><a href="{{.Permalink}}">{{.Title}}</a></h3>
                <p>{{.Description}}</p>
                <p><a href="{{.Permalink}}">Learn More...</a></p>
              </div>
            </div>
          </div>
          {{ end }}
          <!--End blog post -->
        </div>
      </section>
      <!-- End hero Section -->
    </main>
    <!-- End #main -->
    <!-- ======= Footer ======= -->
    {{ partial "footer.html" . }}
    <!-- End Footer -->

    {{ partial "script.html" . }}
  </body>
</html>
