<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" . }}
    <!-- End Header -->

    <main id="main">
      <!-- ======= Job title Section ======= -->
      <section
        class="d-flex align-items-center about-content careers-details"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="job-title">
                <ul>
                  <li>
                    <div class="icon-text">
                      <a href="/careers.html"
                        ><i class="bi bi-arrow-left"></i
                      ></a>
                      <p>Apply to work at Hubstream</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Job-title Section -->
      <!-- ======= Application Section ======= -->
      <section class="application" data-aos="fade-up" data-aos-delay="200">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9" data-aos="fade-up" data-aos-delay="300">
              <form action="#" method="post" role="form" class="php-email-form">
                <div class="form-group">
                  <p>Name</p>
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    id="name"
                    required
                  />
                </div>
                <div class="form-group">
                  <p>Email</p>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    required
                  />
                </div>
                <div class="form-group">
                  <p>Why do you want to work at Hubstream?</p>
                  <textarea
                    class="form-control"
                    name="why-work"
                    rows="5"
                    required
                  ></textarea>
                </div>
                <div class="form-group">
                  <p>Resume or LinkedIn profile</p>
                  <textarea
                    class="form-control"
                    name="resume"
                    rows="5"
                    required
                  ></textarea>
                </div>
                <div class="form-group">
                  <p>Portfolio link</p>
                  <input
                    type="text"
                    name="portfolio"
                    class="form-control"
                    id="name"
                    required
                  />
                </div>
                <div class="text-end">
                  <button type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Application Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {{ partial "footer.html" . }}
    <!-- End Footer -->

    {{ partial "script.html" . }}
  </body>
</html>
