<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" . }}
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section class="d-flex align-items-center careers-hero">
      <div class="container">
        <div class="row">
          <div
            class="col-md-7 pt-5 pt-lg-0 d-flex flex-column justify-content-center"
          >
            <h2 data-aos="fade-up" class="text-left">
              Be a part of something worth building
            </h2>
            <p data-aos="fade-up" class="text-left">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus
              diam dignissim porttitor auctor nullam placerat neque. Vel sed
              risus leo, cursus ullamcorper iaculis phasellus pellentesque.
              Aenean malesuada consequat mauris
            </p>
          </div>
          <div
            class="col-md-5 hero-img"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <img
              src="/assets/img/careers-hero.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section
        class="d-flex align-items-center about-content"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">Why Hubstream</h2>
              <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus
                diam dignissim porttitor auctor nullam placerat neque. Vel sed
                risus leo, cursus ullamcorper iaculis phasellus pellentesque.
                Aenean malesuada consequat mauris faucibus. Elit tortor nibh
                quam neque. <br /><br />

                Netus ultrices in diam fusce. Et sagittis, orci tristique
                consequat non aliquet mauris nisi fermentum. Quis leo elit
                fringilla ultrices nascetur suspendisse nulla scelerisque. Ut
                purus turpis eget pulvinar a.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Job list Section ======= -->
      <section
        class="d-flex align-items-center about-content"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">Look for your comfy chair</h2>
              <div class="job-list">
                <ul>
                  {{ range .Pages }}
                  <li>
                    <p>{{.Title}}</p>
                    <a href="{{.Permalink}}" class="btn-light">Apply Now</a>
                  </li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Job-list Section -->
    </main>
    <!-- End #main -->
    <!-- ======= Footer ======= -->
    {{ partial "footer.html" . }}
    <!-- End Footer -->

    {{ partial "script.html" . }}
  </body>
</html>
