``<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" . }}
    <!-- End Header -->

    <main id="main">
      <!-- ======= commiunity-hero Section ======= -->
      <section class="commiunity-hero">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div
                class="testimonials-slider swiper"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="testimonial-wrap">
                      <div class="testimonial-item">
                        <h3>
                          Know your <br />
                          community
                        </h3>
                        <p>
                          Community offers a variety of domains designed to meet
                          your high-end requirements. Each domain has a set of
                          templates each of which has a specific purpose. You
                          can create your own hub with a template that satisfies
                          your business requirements.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div class="testimonial-wrap">
                      <div class="testimonial-item">
                        <h3>
                          Know your <br />
                          community
                        </h3>
                        <p>
                          Community offers a variety of domains designed to meet
                          your high-end requirements. Each domain has a set of
                          templates each of which has a specific purpose. You
                          can create your own hub with a template that satisfies
                          your business requirements.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div class="testimonial-wrap">
                      <div class="testimonial-item">
                        <h3>
                          Know your <br />
                          community
                        </h3>
                        <p>
                          Community offers a variety of domains designed to meet
                          your high-end requirements. Each domain has a set of
                          templates each of which has a specific purpose. You
                          can create your own hub with a template that satisfies
                          your business requirements.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div class="testimonial-wrap">
                      <div class="testimonial-item">
                        <h3>
                          Know your <br />
                          community
                        </h3>
                        <p>
                          Community offers a variety of domains designed to meet
                          your high-end requirements. Each domain has a set of
                          templates each of which has a specific purpose. You
                          can create your own hub with a template that satisfies
                          your business requirements.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- End testimonial item -->

                  <div class="swiper-slide">
                    <div class="testimonial-wrap">
                      <div class="testimonial-item">
                        <h3>
                          Know your <br />
                          community
                        </h3>
                        <p>
                          Community offers a variety of domains designed to meet
                          your high-end requirements. Each domain has a set of
                          templates each of which has a specific purpose. You
                          can create your own hub with a template that satisfies
                          your business requirements.
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- End testimonial item -->
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End commiunity-hero Section -->

      <!-- ======= search bar Section ======= -->
      <section class="commiunity-page-search">
        <div class="container">
          <div
            class="row height d-flex justify-content-center align-items-center"
          >
            <div class="col-md-8" data-aos="fade-up" data-aos-delay="100">
              <div class="search">
                <i class="bi bi-search"></i>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search templates here"
                  id="searchInputs"
                />
              </div>
              <ul id="searchResults">
                <!-- the search result will appear here -->
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- End search bar -->

      <!-- ======= community list Section ======= -->
      <section class="commiunity-list">
        <div class="container">
          <div class="single-category" id="ipandbrandprotection">
            <div
              class="section-title-left d-flex justify-content-between align-items-center"
              data-aos="fade-up"
            >
              <h2 class="text-left">IP & Brand Protection</h2>
              <p>
                <a href="/community/ip-and-brand-protection"
                  >Show More <i class="bi bi-arrow-right-short"></i
                ></a>
              </p>
            </div>
            <div class="row" data-aos="fade-up">
              {{ $related := (where site.RegularPages "Section" "community") |
              intersect (where site.Pages ".Title" "!=" .Title) | union
              (site.RegularPages.Related . ) }} {{ range first 4 $related }}
              <div class="col-md-3">
                <!-- Start card -->
                <div class="card">
                  {{if .Params.feature}}
                  <i class="bi bi-star-fill feature-start"></i>
                  {{end}} {{with .Params.list_image}}
                  <img src="{{.}}" class="card-img-top" alt="title" />
                  {{end}}
                  <div class="card-body">
                    <h5 class="card-title">{{.Title}}</h5>
                    <a href="/" class="card-text stretched-link"
                      >{{.Description}}
                    </a>
                  </div>
                </div>
                <!-- end card -->
              </div>
              {{end}}
            </div>
          </div>

          <div class="single-category" id="transportation">
            <div
              class="section-title-left d-flex justify-content-between align-items-center"
              data-aos="fade-up"
            >
              <h2 class="text-left">Transportation</h2>
              <p>
                <a href="/community/transportation"
                  >Show More <i class="bi bi-arrow-right-short"></i
                ></a>
              </p>
            </div>
            <div class="row" data-aos="fade-up">
              {{ $related := (where site.RegularPages "Section" "community") |
              intersect (where site.Pages ".Title" "!=" .Title) | union
              (site.RegularPages.Related . ) }} {{ range first 4 $related }}
              <div class="col-md-3">
                <!-- Start card -->
                <div class="card">
                  {{if .Params.feature}}
                  <i class="bi bi-star-fill feature-start"></i>
                  {{end}} {{with .Params.list_image}}
                  <img src="{{.}}" class="card-img-top" alt="title" />
                  {{end}}
                  <div class="card-body">
                    <h5 class="card-title">{{.Title}}</h5>
                    <a href="/" class="card-text stretched-link"
                      >{{.Description}}
                    </a>
                  </div>
                </div>
                <!-- end card -->
              </div>
              {{end}}
            </div>
          </div>

          <div class="single-category" id="trustandsafety">
            <div
              class="section-title-left d-flex justify-content-between align-items-center"
              data-aos="fade-up"
            >
              <h2 class="text-left">Trust and safety</h2>
              <p>
                <a href="/community/trust-and-safety"
                  >Show More <i class="bi bi-arrow-right-short"></i
                ></a>
              </p>
            </div>
            <div class="row" data-aos="fade-up">
              {{ $related := (where site.RegularPages "Section" "community") |
              intersect (where site.Pages ".Title" "!=" .Title) | union
              (site.RegularPages.Related . ) }} {{ range first 4 $related }}
              <div class="col-md-3">
                <!-- Start card -->
                <div class="card">
                  {{if .Params.feature}}
                  <i class="bi bi-star-fill feature-start"></i>
                  {{end}} {{with .Params.list_image}}
                  <img src="{{.}}" class="card-img-top" alt="title" />
                  {{end}}
                  <div class="card-body">
                    <h5 class="card-title">{{.Title}}</h5>
                    <a href="/" class="card-text stretched-link"
                      >{{.Description}}
                    </a>
                  </div>
                </div>
                <!-- end card -->
              </div>
              {{end}}
            </div>
          </div>

          <div class="single-category" id="cybercrime">
            <div
              class="section-title-left d-flex justify-content-between align-items-center"
              data-aos="fade-up"
            >
              <h2 class="text-left">Cyber Crime</h2>
              <p>
                <a href="/community/cyber-crime"
                  >Show More <i class="bi bi-arrow-right-short"></i
                ></a>
              </p>
            </div>
            <div class="row" data-aos="fade-up">
              {{ $related := (where site.RegularPages "Section" "community") |
              intersect (where site.Pages ".Title" "!=" .Title) | union
              (site.RegularPages.Related . ) }} {{ range first 4 $related }}
              <div class="col-md-3">
                <!-- Start card -->
                <div class="card">
                  {{if .Params.feature}}
                  <i class="bi bi-star-fill feature-start"></i>
                  {{end}} {{with .Params.list_image}}
                  <img src="{{.}}" class="card-img-top" alt="title" />
                  {{end}}
                  <div class="card-body">
                    <h5 class="card-title">{{.Title}}</h5>
                    <a href="/" class="card-text stretched-link"
                      >{{.Description}}
                    </a>
                  </div>
                </div>
                <!-- end card -->
              </div>
              {{end}}
            </div>
          </div>

          <div class="single-category" id="childexloitation">
            <div
              class="section-title-left d-flex justify-content-between align-items-center"
              data-aos="fade-up"
            >
              <h2 class="text-left">Children Exloitation</h2>
              <p>
                <a href="/community/children-exloitation"
                  >Show More <i class="bi bi-arrow-right-short"></i
                ></a>
              </p>
            </div>
            <div class="row" data-aos="fade-up">
              {{ $related := (where site.RegularPages "Section" "community") |
              intersect (where site.Pages ".Title" "!=" .Title) | union
              (site.RegularPages.Related . ) }} {{ range first 4 $related }}
              <div class="col-md-3">
                <!-- Start card -->
                <div class="card">
                  {{if .Params.feature}}
                  <i class="bi bi-star-fill feature-start"></i>
                  {{end}} {{with .Params.list_image}}
                  <img src="{{.}}" class="card-img-top" alt="title" />
                  {{end}}
                  <div class="card-body">
                    <h5 class="card-title">{{.Title}}</h5>
                    <a href="/" class="card-text stretched-link"
                      >{{.Description}}
                    </a>
                  </div>
                </div>
                <!-- end card -->
              </div>
              {{end}}
            </div>
          </div>

          <div class="single-category" id="insurancefraud">
            <div
              class="section-title-left d-flex justify-content-between align-items-center"
              data-aos="fade-up"
            >
              <h2 class="text-left">Insurance fraud</h2>
              <p>
                <a href="/community/insurance-fraud"
                  >Show More <i class="bi bi-arrow-right-short"></i
                ></a>
              </p>
            </div>
            <div class="row" data-aos="fade-up">
              {{ $related := (where site.RegularPages "Section" "community") |
              intersect (where site.Pages ".Title" "!=" .Title) | union
              (site.RegularPages.Related . ) }} {{ range first 4 $related }}
              <div class="col-md-3">
                <!-- Start card -->
                <div class="card">
                  {{if .Params.feature}}
                  <i class="bi bi-star-fill feature-start"></i>
                  {{end}} {{with .Params.list_image}}
                  <img src="{{.}}" class="card-img-top" alt="title" />
                  {{end}}
                  <div class="card-body">
                    <h5 class="card-title">{{.Title}}</h5>
                    <a href="/" class="card-text stretched-link"
                      >{{.Description}}
                    </a>
                  </div>
                </div>
                <!-- end card -->
              </div>
              {{end}}
            </div>
          </div>

          <div class="single-category" id="financefraud">
            <div
              class="section-title-left d-flex justify-content-between align-items-center"
              data-aos="fade-up"
            >
              <h2 class="text-left">Finance fraud</h2>
              <p>
                <a href="/community/finance-fraud"
                  >Show More <i class="bi bi-arrow-right-short"></i
                ></a>
              </p>
            </div>
            <div class="row" data-aos="fade-up">
              {{ $related := (where site.RegularPages "Section" "community") |
              intersect (where site.Pages ".Title" "!=" .Title) | union
              (site.RegularPages.Related . ) }} {{ range first 4 $related }}
              <div class="col-md-3">
                <!-- Start card -->
                <div class="card">
                  {{if .Params.feature}}
                  <i class="bi bi-star-fill feature-start"></i>
                  {{end}} {{with .Params.list_image}}
                  <img src="{{.}}" class="card-img-top" alt="title" />
                  {{end}}
                  <div class="card-body">
                    <h5 class="card-title">{{.Title}}</h5>
                    <a href="/" class="card-text stretched-link"
                      >{{.Description}}
                    </a>
                  </div>
                </div>
                <!-- end card -->
              </div>
              {{end}}
            </div>
          </div>

          <div class="single-category" id="compliance">
            <div
              class="section-title-left d-flex justify-content-between align-items-center"
              data-aos="fade-up"
            >
              <h2 class="text-left">Compliance</h2>
              <p>
                <a href="/community/compliance"
                  >Show More <i class="bi bi-arrow-right-short"></i
                ></a>
              </p>
            </div>
            <div class="row" data-aos="fade-up">
              {{ $related := (where site.RegularPages "Section" "community") |
              intersect (where site.Pages ".Title" "!=" .Title) | union
              (site.RegularPages.Related . ) }} {{ range first 4 $related }}
              <div class="col-md-3">
                <!-- Start card -->
                <div class="card">
                  {{if .Params.feature}}
                  <i class="bi bi-star-fill feature-start"></i>
                  {{end}} {{with .Params.list_image}}
                  <img src="{{.}}" class="card-img-top" alt="title" />
                  {{end}}
                  <div class="card-body">
                    <h5 class="card-title">{{.Title}}</h5>
                    <a href="/" class="card-text stretched-link"
                      >{{.Description}}
                    </a>
                  </div>
                </div>
                <!-- end card -->
              </div>
              {{end}}
            </div>
          </div>

          <div class="single-category" id="huamentrafficing">
            <div
              class="section-title-left d-flex justify-content-between align-items-center"
              data-aos="fade-up"
            >
              <h2 class="text-left">Human Trafficing</h2>
              <p>
                <a href="/community/human-trafficing"
                  >Show More <i class="bi bi-arrow-right-short"></i
                ></a>
              </p>
            </div>
            <div class="row" data-aos="fade-up">
              {{ $related := (where site.RegularPages "Section" "community") |
              intersect (where site.Pages ".Title" "!=" .Title) | union
              (site.RegularPages.Related . ) }} {{ range first 4 $related }}
              <div class="col-md-3">
                <!-- Start card -->
                <div class="card">
                  {{if .Params.feature}}
                  <i class="bi bi-star-fill feature-start"></i>
                  {{end}} {{with .Params.list_image}}
                  <img src="{{.}}" class="card-img-top" alt="title" />
                  {{end}}
                  <div class="card-body">
                    <h5 class="card-title">{{.Title}}</h5>
                    <a href="/" class="card-text stretched-link"
                      >{{.Description}}
                    </a>
                  </div>
                </div>
                <!-- end card -->
              </div>
              {{end}}
            </div>
          </div>

          <div class="single-category" id="violentextremism">
            <div
              class="section-title-left d-flex justify-content-between align-items-center"
              data-aos="fade-up"
            >
              <h2 class="text-left">Violent Extremism</h2>
              <p>
                <a href="/community/violent-extremism"
                  >Show More <i class="bi bi-arrow-right-short"></i
                ></a>
              </p>
            </div>
            <div class="row" data-aos="fade-up">
              {{ $related := (where site.RegularPages "Section" "community") |
              intersect (where site.Pages ".Title" "!=" .Title) | union
              (site.RegularPages.Related . ) }} {{ range first 4 $related }}
              <div class="col-md-3">
                <!-- Start card -->
                <div class="card">
                  {{if .Params.feature}}
                  <i class="bi bi-star-fill feature-start"></i>
                  {{end}} {{with .Params.list_image}}
                  <img src="{{.}}" class="card-img-top" alt="title" />
                  {{end}}
                  <div class="card-body">
                    <h5 class="card-title">{{.Title}}</h5>
                    <a href="/" class="card-text stretched-link"
                      >{{.Description}}
                    </a>
                  </div>
                </div>
                <!-- end card -->
              </div>
              {{end}}
            </div>
          </div>

          <div class="single-category" id="onlineinvestigation">
            <div
              class="section-title-left d-flex justify-content-between align-items-center"
              data-aos="fade-up"
            >
              <h2 class="text-left">Online Investigation</h2>
              <p>
                <a href="/community/online-investigation"
                  >Show More <i class="bi bi-arrow-right-short"></i
                ></a>
              </p>
            </div>
            <div class="row" data-aos="fade-up">
              {{ $related := (where site.RegularPages "Section" "community") |
              intersect (where site.Pages ".Title" "!=" .Title) | union
              (site.RegularPages.Related . ) }} {{ range first 4 $related }}
              <div class="col-md-3">
                <!-- Start card -->
                <div class="card">
                  {{if .Params.feature}}
                  <i class="bi bi-star-fill feature-start"></i>
                  {{end}} {{with .Params.list_image}}
                  <img src="{{.}}" class="card-img-top" alt="title" />
                  {{end}}
                  <div class="card-body">
                    <h5 class="card-title">{{.Title}}</h5>
                    <a href="/" class="card-text stretched-link"
                      >{{.Description}}
                    </a>
                  </div>
                </div>
                <!-- end card -->
              </div>
              {{end}}
            </div>
          </div>

          <div class="single-category" id="organizedcrime">
            <div
              class="section-title-left d-flex justify-content-between align-items-center"
              data-aos="fade-up"
            >
              <h2 class="text-left">Organized Crime</h2>
              <p>
                <a href="/community/organized-crime"
                  >Show More <i class="bi bi-arrow-right-short"></i
                ></a>
              </p>
            </div>
            <div class="row" data-aos="fade-up">
              {{ $related := (where site.RegularPages "Section" "community") |
              intersect (where site.Pages ".Title" "!=" .Title) | union
              (site.RegularPages.Related . ) }} {{ range first 4 $related }}
              <div class="col-md-3">
                <!-- Start card -->
                <div class="card">
                  {{if .Params.feature}}
                  <i class="bi bi-star-fill feature-start"></i>
                  {{end}} {{with .Params.list_image}}
                  <img src="{{.}}" class="card-img-top" alt="title" />
                  {{end}}
                  <div class="card-body">
                    <h5 class="card-title">{{.Title}}</h5>
                    <a href="/" class="card-text stretched-link"
                      >{{.Description}}
                    </a>
                  </div>
                </div>
                <!-- end card -->
              </div>
              {{end}}
            </div>
          </div>
        </div>
      </section>
      <!-- End community list -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {{ partial "footer.html" . }}
    <!-- End Footer -->

    {{ partial "script.html" . }}
  </body>
</html>
