<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" . }}
    <!-- End Header -->

    <main id="main">
      <!-- ======= Job title Section ======= -->
      <section class="d-flex align-items-center about-content community-single">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="job-title">
                <ul>
                  <li>
                    <div class="icon-text">
                      <a href="/"><i class="bi bi-arrow-left"></i></a>
                      <p>{{.Title}}</p>
                    </div>
                    <a href="/contact-us" class="btn-career">Try It</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Job-title Section -->

      <!-- ======= Job title Section ======= -->
      <section class="d-flex align-items-center blog-list-hero">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              {{with .Params.feature_image}}
              <img
                src="{{.}}"
                alt=""
                class="img-fluid"
                data-aos="fade-up"
                data-aos-delay="200"
              />
              {{end}}
            </div>
          </div>
        </div>
      </section>
      <!-- End Job-title Section -->

      <!-- ======= Content Section ======= -->
      <section
        class="d-flex align-items-center content-section"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="container">
          <div class="row">
            <div class="col-md-12">{{.Content}}</div>
          </div>
        </div>
      </section>
      <!-- End content Section -->

      <section class="related-card">
        <div class="container">
          <div class="section-title-left" data-aos="fade-up">
            <a href="/community" class="btn-more">More Templates</a>
          </div>
          <div class="row">
            {{ range .Pages }}
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <img
                    src="/assets/img/community/community-icon.png"
                    class="img-fluid"
                    alt="community"
                  />
                  <h5 class="card-title">Aircrafts</h5>
                  <p class="card-text">
                    This is a high-level template used to store the matters for
                    the brand protection hub
                  </p>
                  <div class="card-icon">
                    <a href="/"><i class="bi bi-arrow-right-circle"></i></a>
                  </div>
                </div>
              </div>
            </div>
            {{end}}
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->
    <!-- ======= Footer ======= -->
    {{ partial "footer.html" . }}
    <!-- End Footer -->

    {{ partial "script.html" . }}
  </body>
</html>
