<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <a href="/"
        ><img src="/assets/img/logo.png" alt="" class="img-fluid"
      /></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="/about-us">About Us</a></li>
        <li class="dropdown triangle">
          <a href="/community"
            ><span>Community</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <div class="container">
              <div class="topic">
                <p>Topics</p>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <li>
                    <a href="/community#ipandbrandprotection"
                      >IP & Brand Protection</a
                    >
                  </li>
                  <li>
                    <a href="/community#transportation">Transportation</a>
                  </li>
                  <li>
                    <a href="/community#trustandsafety">Trust & Safety</a>
                  </li>
                  <li>
                    <a href="/community#cybercrime">Cyber Crime</a>
                  </li>
                </div>
                <div class="col-md-4">
                  <li>
                    <a href="/community#childexloitation">Child Exploitation</a>
                  </li>
                  <li>
                    <a href="/community#insurancefraud">Insurance Fraud</a>
                  </li>
                  <li><a href="/community#financefraud">Finance fraud</a></li>
                  <li><a href="/community#compliance">Compliance</a></li>
                </div>
                <div class="col-md-4">
                  <li>
                    <a href="/community#huamentrafficing">Human Trafficing</a>
                  </li>
                  <li>
                    <a href="/community#violentextremism">Violent Extremism</a>
                  </li>
                  <li>
                    <a href="/community#onlineinvestigation"
                      >Online Investigation</a
                    >
                  </li>
                  <li>
                    <a href="/community#organizedcrime">Organized Crime</a>
                  </li>
                </div>
              </div>
            </div>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="/careers">Careers</a></li>
        <li class="d-sm-block d-md-none">
          <a class="getstarted scrollto" href="/request-a-demo">Request demo</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <nav class="navbar d-none d-md-block">
      <ul>
        <li>
          <a class="getstarted scrollto" href="/request-a-demo">Request demo</a>
        </li>
        <li class="dropdown form-nav-ul">
          <a href="#"><span>Login</span> </a>
          <ul>
            <div class="container form-nav">
              <div class="topic">
                <p>Login</p>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1" class="form-label"
                        >Work Email</label
                      >
                      <input
                        type="email"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                      />
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1" class="form-label"
                        >Password</label
                      >
                      <input
                        type="password"
                        class="form-control"
                        id="exampleInputPassword1"
                      />
                    </div>
                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- .navbar -->
  </div>
</header>
